/* Contact Form
-------------------------------------------*/

.contact-form{
    
    label{
        --font-weight-bold: 450;
    }
    
    column-gap: var(--space-m);

    .form__item:nth-of-type(3){
        grid-column: 1 / -1;
    }
    .form-submit{
        grid-column: 1 / -1;
    }
}
