/* Footer nav
-------------------------------------------*/

.footer-nav{
  border-top: 1px solid var(--color-border);
  background: var(--bodycolor);
  padding: var(--space-m);  
}

.footer-nav ul{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: var(--step-0);
  grid-column: 2 / -2;
  font-weight: var(--font-weight-md);
  
  li:first-of-type{
    width: 45%;
  }
  
  li:nth-of-type(2){
    display: flex;
    gap: .5rem;
    flex-direction: column;
    @include respond-to(desktop){
      flex-direction: row;
    }
  }
  
  li:last-of-type{
    width: 45%;
    text-align: right;
  }
  
  strong{
    margin-bottom: var(--space-xs);
    display: inline-block;
    font-size: var(--step-1);
    font-family: var(--titlefont);
  }

} 

/* front + last page fixes */

.front .footer-nav{
  ul li:first-child{
    strong,
    a{
      display: none;
    }
  }
}

.last-page .footer-nav{
  ul li:last-child{
    strong,
    a{
      display: none;
    }
  }
}