/* Resources
-------------------------------------------*/

.resources{

    &__links{
        grid-column: 1 / -1;
        @include respond-to(desktop){
            grid-column: 1 / 7;
        }    
    }

   .book-wrapper{
        grid-column: 1 / -1;
        container: book-wrapper / inline-size;

        @include respond-to(desktop){
             grid-column: 7/-1;
        }
    } 
}