/* Code block
-------------------------------------------*/


pre.code-block{
    margin: var(--space-m) 0;
    padding: var(--space-l);
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--grey-dark);
    border-radius: var(--border-radius-alt);
    
    code {    
        padding: 0;
        color: var(--white);
        line-height: 1.8;
        vertical-align: middle;
    }
}
