/* Main nav
-------------------------------------------*/

.main-nav{
  padding: 0 var(--space-l);
  display: none;
  @include transition;
  
  @include respond-to(tablets){
    display: block !important;
  }
  
  ul{
 
    li{
      border-bottom: 1px dashed var(--color-border);
      padding: var(--space-s) 0;
    }

    li:last-of-type{
      border-bottom: none;
    }
    
    a{
      --linkcolor: #000;
      
      text-decoration: none;
      font-weight: var(--font-weight-md);
      
      &.active,
      &[aria-current="page"]{
      
        --linkcolor: #008488;
        
        font-weight: var(--font-weight-heavy);
      }
    }
  }
  
  &.active{
    display: block;
    padding-top: 10rem;
    padding-bottom: var(--space-xl);
    
    @include respond-to(tablets){
      padding-top: 0;

    }
  }
 
}

/* hamburger button */

#hamburger{
  --textcolor: #fff;
  
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius-alt);
  background: transparent;
  color: var(--textcolor);
  font-weight: var(--font-weight-heavy);
  padding: var(--space-xs) var(--space-s);
  z-index: 9;
  
  &:hover{
    cursor: pointer;
  }
}

button#hamburger[aria-expanded="true"]{
  --color-border: var(--primary);
  --textcolor: var(--primary);
  background: transparent;
  
}

