/* strip-title
-------------------------------------------*/

.strip-title{
  font-size: var(--step-4);
  font-family: var(--basefont);
  border-top: 5px solid var(--grey-light);
  padding-top: var(--space-l);
}

    