/* Article
-------------------------------------------*/

.article{

  ul{
    @extend .content-list;
  }
  
  h1{
    font-size: var(--step-6);
  }

  h2{
    font-size: var(--step-5);
  }
  
  .page-header{
    background: var(--primary);
    
    @include respond-to(tablets){
      background: var(--white);
    }
  }
  
  .logo{
    text-align: left;
    position: absolute;
    padding-bottom: 0;
  }
  
  .main-nav{
    padding-left: 0;
  }

  &.nav-is-open .page-header{
    background: var(--white);
  }
  
  .main-nav.active{
    padding-top: var(--space-l);
  }

}

.post {
  padding-bottom: var(--space-xl);
  @include respond-to(desktop){
    padding-bottom: var(--space-3xl);
  }
  
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + div,
  p + pre{
    margin-top: var(--space-xl);
  }
  
  p + ul,
  p + ol{
    margin-top: var(--space-l);
  }
  
  h3 + ul,
  h3 + ol{
    margin-top: var(--space-xl);
  }
  
  ul + .cta-btn,
  ol + .cta-btn,
  h2 + .cta-btn,
  h3 + .cta-btn{
    margin-top: var(--space-xl);
    margin-bottom: var(--space-l);
  }
  
  ol + h2,
  ul + h2,
  ol + h3,
  ul + h3,
  ol + h4,
  ul + h4,
  ol + h5,
  ul + h5{
    margin-top: var(--space-xl);
  }
  
  ul + p,
  ol + p,
  h2 + p,
  h2 + ul,
  h2 + ol,
  h2 + dl{
    margin-top: var(--space-xl);
  }
  
  h2 + .code-block,
  h3 + .code-block,
  h4 + .code-block{
    margin-top: var(--space-xl);
  }
  
  hr + h3,
  p + hr{
    margin-top: var(--space-xl);
  }

  
  .post__header{
    margin-bottom: var(--space-2xl);
    
    header{
      grid-column: 2 / 7;
      padding: var(--space-2xl) 0;
      
      h1{
        margin-top: var(--space-l);
        margin-bottom: var(--space-l);
      }
 
    } 
    
    aside:first-of-type{
      grid-column: 1 / 2;
    }
    
    aside:nth-of-type(2){
      grid-column: 8 / -1;
    }
    
    .lead{
      --aspect-ratio: 4 / 3;
      
      grid-column: 2 / 8;
      grid-row: 2;        
    }
    
  }
  
  .post__main{
  
    > *{
      grid-column: 3 / 7
    }
    
    blockquote{
      grid-column: 2 / -3;
      margin: var(--space-2xl) 0 var(--space-l); 
    }
    
    h3{
     --textcolor: var(--primary);
    }

    ul{
      @extend .content-list;
    }
    
  }

}

.article-template .sidebar{
  position: relative;
  width: 100%;
}

.article-template .main-nav{
  grid-column: 2/-2;
  
  ul{
    @include respond-to(tablets){
      column-count: 2;
    }
  }
}