/* Default template
-------------------------------------------*/

.default-template{
  --sidebar-background: #fff;
  --footer-bg: #f4e8dd;
  
  @include respond-to(tablets){
    grid-template-columns: 250px 1fr;
  }
  
  .post{
    padding-top: 0;
  }
  
  .sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -9;
  }
  .footer{
    grid-column: 2 / -1;
  }
  
  main{
    grid-column: 2 / -1;
    
    .article__content .container > *{
      grid-column: 3 / -3;
    }
    
    .special-list{
      margin: var(--space-xl) 0 var(--space-l);
      margin-bottom: 0;
    }
  }
  
  .article__content{
    padding-bottom: 0;
    margin-top: 0;
    
    @include respond-to(desktop-wide){
     width: 120rem;
     margin-left: auto;
     margin-right: auto;
    }
  }
  
  .page-header .container{
    display: contents;
  }

  hr{
    margin-top: var(--space-2xl);
  }
}
