
 {% include 'partials/_head.njk' %}

 <body class="[ article ][ article-template-2 ] [ article-template ]">  
    <a href="#content" class="skip-link">Skip to content</a>
 

	<header class="logo">
  			
            <a href="/" aria-label="{{ site.name }} - home">
            {% include 'partials/_logo.svg' %}
            </a>
  	</header>

 <main id="content" tabindex="-1">
   <article class="flow post section">
     <section class="hero">
       <picture>
          <img rel="preload" class="ratio" 
            src="{{ article.image }}" 
            alt="{{ article.imageAlt }}
          ">
        </picture>
     </section>
    <section class="grid twelve" data-gap="gap">  
        <header class="flow">
          <time>{{ page.date | postDate }}</time>
            <h1 class="text-primary-color">{{ title }}</h1>
            <p class="primary-msg">{{ primary }}</p>
        </header>
        
        <div class="[ article__content ][ flow ]">
            {{ content | safe }}
        </div>
    </section>
   </article>

   </main>
   {% include 'partials/_secondary-nav.njk' %}
    {% include 'partials/_footer.njk' %}
 
 </body>
 </html>
 