---
title: "Prototyping principles"
subtitle: "Guidelines to help you implement effective interfaces in HTML & CSS."
paragraphs: "Coding prototypes in HTML & CSS is our most effective way to implement custom and healthy designs."
layout: "_layouts/base.njk" 
description: "Guidelines to help you implement effective interfaces with accesibility, performance and flexibility in mind."
bodyClass: "[ front ]"
---

<p class="dropcap" fetchpriority="high">Once individual pages are fully mocked-up, our process includes coding the designs using hand-written HTML and CSS with a bit of jQuery — to create a prototype that we can test and use as a blueprint to implement websites.</p>

<h3>Why an HTML & CSS prototype?</h3>

<p>A prototype allows us to quickly assemble responsive layouts, experiment with typography and grids, test interactions, and iterate cost-effectively to ensure we deliver the best user experience with the final product.</p>

<h3>A blueprint before CMS</h3>

<p>To create a robust custom theme for a CMS like Drupal or WordPress, we code a prototype in HTML & CSS before development to: </p>

<ol class="content-list">
<li>Setup a blueprint for developers to gain clarity and avoid errors;</li>
<li>Prepare assets such as HTML files, including CSS.</li>
</ol>

<h3>The 6 Simple Prototyping Steps</h3>

<p><em>The 6 Simple Prototyping Steps</em> is a breakdown of our process in 6 steps to help you implement <strong>high-performing</strong> interfaces <strong>quickly</strong> in HTML & CSS following best practices in accessibility, progressive enhancement, performance and CSS.</p>

<p>These checklists and best practices have been created and curated based on 8 years of building and implementing custom website designs and following resources from front-end design experts.</p>

 <h3>These are our prototyping principles</h3>
<h4 class="subtitle text-grey-color">Take into consideration performance and accessibility</h4> 

<ol class="special-list bg-primary-color">
   <li><a href="/setup/">Setup your project</li>
   <li><a href="/semantic-html/">Write Semantic HTML</a></li>	 
   <li><a href="/performance/">Do accessibility & performance</a></li>
   <li><a href="/css-architecture/">Use a clear CSS methodology</a></li>
   <li><a href="/modern-css/">Write Modern CSS</a></li>
   <li><a href="/testing/">Make, learn, iterate</a></li>	 	                   	          	          
 </ol> 	              
 
 <p>By following these principles, you will be able to:</p>
 
 <ul class="content-list">
 <li>Implement responsive designs using semantic HTML and Modern CSS; 
 <li>Test early concepts effectively to avoid costly errors; 
 <li>Optimise your website for better performance and accessibility; 
 <li>Organise and maintain better your CSS; 
 <li>Have a prototype ready to be implemented on a CMS like Drupal; 
 <li>Build user-friendly interfaces.</li>

 </ul>

<h3>Results if we don't follow the principles</h3>
<h4 class="subtitle text-grey-color">When product fails, you will fail too</h4>
    
    <ol class="special-list bg-alert-color">
      <li>Costly development time</li>
      <li>Bad performance</li>
      <li>Stuggle to mantain codebase</li>
      <li>You will stay confused</li>
      <li>Obsolete front-end skills</li>
      <li>Product with poor UX</li>
    </ol>
