---
title: "Style your pages with Modern CSS"
subtitle: "Write the styles of your website with less CSS"
paragraphs: "Consider writing the CSS of your pages using best-practices and Modern CSS to implement robust and flexible layouts."
layout: "_layouts/base.njk" 
description: "Consider writing the CSS of your pages using best-practices and Modern CSS to implement robust and flexible layouts."
---

<p class="dropcap">Designing an engaging and complex responsive layout is challenging, especially without using modern CSS properties and techniques to implement these designs.</p>

<h3>Pay attention to frameworks</h3>

<p>Back then, we needed to rely on <em>external libraries, Javascript or heavy frameworks</em> to implement <strong>complex layouts</strong>, which impacted performance because of the heavy code-base.</p>

<h3>Solve old-CSS problems with modern CSS</h3>

<p>CSS has grown up, and over the last few years, new CSS properties have emerged, allowing us to implement complex, flexible and cutting-edge layouts with less CSS.</p>
<p>The whole idea is to combine existing CSS with CSS layouts rules <em>(e.g. flexbox, CSS Grids, Container-Queries, and multi-columns...)</em> to <strong>save a lot of time</strong> in implementing <strong>engaging</strong> and <strong>performant</strong> layouts.</p>

<h3>Checklist</h3>

<h4 class="[ subtitle ][ text-grey-color ]">Tips for optimising and writing CSS</h4>

<ol class="[ special-list ][ special-list--checklist bg-white-color ]">
   <li>Did we use CSS Custom Properties to control foundation styles?</li>
   <li>Did we use a Variable font?</li>
   <li>Did we use a typographic scale?</li>
   <li>Did we use <em>Flexbox</em>, <em>CSS Grids</em> and <em>Multi-columns</em> to build our layouts?</li>
   <li>Did we organise properly our CSS files and rules?</li>
   <li>Did you we minimise the number of overrides ?</li>
   <li>Did we use modern selectors to style HTML elements?</li>
   <li>Did we optimise the ratio of our images?</li>
   <li>Did enhance styles for keyboard navigation?</li>
</ol>

<h3>Takeaways</h3>

<ul class="content-list">
   <li>Use variables to control colors, spacing and typography</li>
   <li>Use variable font to use granular weight and styles</li>
   <li>Do we have a good rythm and visual hierarchy on our pages?</li>
   <li>Use <a href="https://utopia.fyi/">Utopia</a> to generate a type and spacing scale</li>
   <li>Apply the correct aspect-ratio on your images/media</li>
   <li>Use the CSS Layout to build your pages</li>
</ul>


<section class="[ resources ][ grid--4-5 grid ]" data-gap="gap">
<div class="[ resources__links ] [ flow ]">
<h3>Ressource</h3>

<p>Links for further reading:</p>
<ul class="[ content-list ][ content-list--links ]">
   <li><a href="https://www.youtube.com/watch?v=7X8R_KVB3uc
      ">Fluid Typography</a></li>
   <li><a href="https://web.dev/learn/css/" target="_blank">Learn CSS</a></li>
   <li><a href="https://variablefonts.io/implementing-variable-fonts/#gf-api" target="_blank">Implementing Variable Fonts</a></li>
   <li><a href="https://www.smashingmagazine.com/2021/04/guide-supported-modern-css-pseudo-class-selectors/" target="_blank">Modern new CSS selectors</a></li>
   <li><a href="https://web.dev/one-line-layouts/" target="_blank">Modern layouts with CSS</a></li>
   <li><a href="https://www.youtube.com/watch?v=5uhIiI9Ld5M&amp;ab_channel=Hey%21Presents" target="_blank">Browser’s Mentor, Not Micromanager</a></li>
   <li><a href="https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/" target="_blank">Create a responsive grid layout</a></li>
   <li><a href="https://www.smashingmagazine.com/category/css-grid" target="_blank">CSS Grid</a></li>
   <li><a href="https://www.smashingmagazine.com/2019/01/css-multiple-column-layout-multicol/" target="_blank">CSS Multi-Column Layout</a></li>
   <li><a href="https://stuffandnonsense.co.uk/blog/how-a-3-4-compound-grid-can-improve-on-12-columns" target="_blank">Layout love: 3+4 Compound Grids</a></li>
   <li><a href="https://12daysofweb.dev/2021/container-queries/" target="_blank">Container queries</a></li>
</ul>
</div>
   {% include 'partials/_book.njk' %}
</section>