---
title: "Optimise for performance"
subtitle: "Consider performance right from the beginning"
paragraphs: "Optimise your site resources to improve page rendering times and deliver content quickly to users."
layout: "_layouts/base.njk" 
description: "Optimise your site for performance to deliver a good experience to users on the website."
---

<p class="dropcap" fetchpriority="high">Performance is a crucial aspect of good UX since users must access the content as fast as possible to accomplish their goals.</p>

<h3>Heavy resources kill UX</h3>

<p>Most websites take too much time to load because resources like <strong>scripts, fonts, images</strong> and <strong>CSS</strong> are poorly optimised and therefore drastically increase the weight of pages.</p>

<p>When resources are heavy to download and scripts block the page's rendering, it frustrates users and makes businesses lose sales because the content doesn't show promptly.</p>

<h3>Optimise your resources</h3>
<p>A good way to reduce the total page size of your website and improve page rendering times is to optimise your images, scripts, fonts and CSS by following some basic best practices.</p>

      <h3>Performance checklist</h3>
      <h4 class="text-grey-color">Basics for optimising your interfaces for better performance.</h4>
        
         <ol class="[ special-list ][ special-list--checklist bg-white-color ]">
             <li>Did we optimise our image formats?</li>
             <li>Did we optimise our responsive images?</li>
             <li>Did we prioritise the loading of our resources <em>(e.g images, video, fonts…)</em>? </li>
             <li>Did we optimise our fonts?</li>
             <li>Did we use a Variable font?</li>
             <li>Did we eliminate render-blocking scripts?</li>
         </ol>
      
      <h3>Takeaways</h3>
      
      <ul class="content-list">
        
       <li>Use priority hints to prioritise resources</li>
        
        <li>Use inline SVG to display vector elements</li>
        
        <li>Use Squoosh.app to compress your images <em>(e.g. use AVIF or WEBP)</em></li>
        
        <li>Lazy load non-critical images <em>(below the fold)</em></li>

        <li>Add <span class="code">decoding="async"</span> to non-critical images with lazy load</li>
        
        <li>Optimise your responsive images for performance</li>
        
        <li>Optimise font loading</li>
      
        <li>Follow best-practices to load your fonts</li>
        
        <li>Avoid layout shift by applying <span class="code">width</span> and <span class="code">height</span> attributes on these images</li>
        <li>Add <code class="code">async=""</code> and <code class="code">defer=""</code> attributes on inline scripts</li>

      </ul>
      
      <section class="[ resources ][ grid--4-5 grid ]" data-gap="gap">
          <div class="[ resources__links ][ flow ]">
            <h3>Resource</h3>
            <p>Links for further reading:</p>
            <ul class="[ content-list ][ content-list--links ]">
              <li><a href="https://imkev.dev/fetchpriority-opportunity">Priority Hints and optimising LCP</a></li>
              <li><a href="https://web.dev/css-web-vitals/#images">Images and Largest Contentful Paint (LCP) </a></li>
              <li><a href="https://github.com/WICG/priority-hints/blob/main/EXPLAINER.md">Priority Hints</a></li>
              <li><a href="https://javascript.info/script-async-defer">Scripts: async, defer</a></li>           
              <li><a href="https://web.dev/learn/design/typography/#font-loading">Font loading</a></li>
              <li><a href="https://web.dev/i18n/en/reduce-webfont-size/">Reduce web font size</a></li>  
              <li><a href="https://everythingfonts.com/subsetter">Subsetting fonts</a></li> 
              <li><a href="https://web.dev/learn/design/responsive-images/">Responsive images</a></li>
              <li><a href="https://www.sarasoueidan.com/blog/optimizing-svg-delivery-with-svg/">Optimizing SVG Text & Image</a></li>
              <li><a href="https://www.htmhell.dev/tips/the-avif-image-format/">The AVIF image format</a></li>
              <li><a href="https://web.dev/browser-level-image-lazy-loading/">Lazy loading for the web</a></li>
              <li><a href="https://squoosh.app/">Squoosh.app</a></li>  
            </ul>
          </div>
            {% include 'partials/_book.njk' %}
      </section>