---
title: "Project Setup"
description: "Build your project under the right foundation with a clear file architecture, HTML, JS, CSS and other assetsto gain efficiency and performance."
subtitle: "Setup a clean base to build your project under the right foundation."
paragraphs: "Start by setting up your project folder and organise your files following a clear structure to work efficiently."
layout: "_layouts/base.njk" 
---

<p class="dropcap" fetchpriority="high">Since your website will require HTML, stylesheets, and media content to work, you will be required to make changes in various places to implement your designs.</p>

<h3>The problem</h3>
<p>Without a clear file architecture, updating files can become a pain and impact your efficiency; a bad site structure and naming convention can also affect SEO.</p>

<p>To prevent these issues, organise your project's files properly and use a clear naming convention to name your files.</p>

<h3>The solution</h3>

<p>This is how we generally structure any web project:</p>

      <pre class="code-block"><code>Index.html
About.html
contact.html      
assets
├── css (style.css)
├── img (images and icons) 
├── fonts (includes your fonts if hosted locally)
├── js (specific scripts files)
└── sass (individual CSS partials)
</code></pre>
<p><em>We will dive deep into the structure of our SASS folder and explain how you can use partials to generate your end CSS file.</em></p>

 <h3>Checklist</h3>
 <h4 class="subtitle text-grey-color">Make sure to check each points</h4>
 
 <ol class="special-list special-list--checklist bg-white-color">
    
    <li>Did we organise properly our assets files?</li>
    <li>Do we have SASS correctly configured?</li>
    <li>Did we organise our HTML files properly?</li>
    <li>Can we self-host our fonts?</li>
    <li>Do we have a clear naming convention for our files?</li>
                  	          	          
</ol>

<h3>Takeaways</h3>

<ul class="content-list">
  <li>Create  a <span class="code">/assets</span> folder to host all your assets files</li>
  <li>Put your <em>images</em>, <em>CSS</em>, <em>fonts</em> and <em>js</em> files inside their respective folders</li>
  <li>Put your local fonts inside a <span class="code">/fonts</span> sub-folder</li>
  <li>Use <em>SASS</em> to write and organise well your <em>CSS</em></li>
  <li>Keep your <em>HTML</em> files at the root of your project</li>
  <li>Use lowercases and hyphens to name your files</li> 

</ul>

<section class="resources grid--4-5 grid" data-gap="gap">
          <div class="resources__links flow">
        <h3>Resource</h3>
        <p>Links for further reading:</p>
        <ul class="content-list">
          <li><a href="https://sass-lang.com/install">Install Sass</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files">Dealing with files</a></li>
        </ul>
        </div>
            {% include 'partials/_book.njk' %}
      </section>