<div class="book-wrapper">
    <figure class="book flow" data-gap="gap">
                <a href="https://www.jerome-kalumbu.com/dont-start-with-visuals"><img alt="Don't Start With Visuals Book" src="https://jk2020.sirv.com/book/book-visual-hd.png" width="500" height="500"></a>
                <section class="book__info">
                    <header>
                        <h3>Don't Start With Visuals</h3>
                        <p class="tertiary text-grey-color">By Jerome Kalumbu</p>
                    </header>
                <p>This book teaches you an actionnable  <em>creative approach</em> with <em>UX design tips</em> to help you design effective and engaging websites.</p>
                <div class="cta-btn"><a href="https://www.jerome-kalumbu.com/dont-start-with-visuals">Discover E-book</a></div>

                </section>
    </figure>
</div>