<div class="logo">
  			
  	<a href="/" aria-label="{{ site.name }} - home">
		 {% include 'partials/_logo.svg' %}
	</a>
  								
  		</div>
<button type="button" aria-expanded="false" id="hamburger">
  		  Menu
  		</button>
  	 {% include 'partials/_navigation.njk' %}